body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    background-color: blue;
    color: azure;
    padding: 25px;
}
h1 {
    color: white;
    background-color: blue;
    margin: 0;
}
div h2 {
    margin: 0;
    padding: 20px;
    background-color: black;
    color: white;
}